<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main.html}">
<div layout:fragment="content">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">

            <form method="post" th:action="@{/add-car}" class="mt-5 px-3 py-3 card">
                <h2 class="mt-2 text-center"> Add Car</h2>
                <div class="form-floating mt-3">
                    <input type="text" id="car_name" class="form-control" name="name" placeholder="car_name" required>
                    <label for="car_name">Name(Brand)</label>
                </div>
                <div class="form-floating mt-3">
                    <input type="text" id="car_model" class="form-control" name="model" placeholder="car_model"
                           required>
                    <label for="car_model">Model</label>
                </div>
                <div class="form-floating mt-3">
                    <input type="number" id="car_year" class="form-control" name="year" placeholder="car_year" required>
                    <label for="car_year">Year of manufacture</label>
                </div>
                <div class="form-floating mt-3">
                    <input type="number" id="car_price" class="form-control" name="price" placeholder="car_price"
                           required>
                    <label for="car_price">Price</label>
                </div>
                <div class="form-floating mt-3">
                    <select class="form-select" name="car_country" id="car_country" th:placeholder="car_country">
                        <option th:each="co: ${countries}" th:text="${co.name+'/'+co.code}" th:value="${co.id}"></option>
                    </select>
                    <label for="car_country">Country-manufacturer</label>
                </div>
                <button type="submit" class="btn btn-success mt-3">SAVE</button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
</html>