<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main.html}">
<div layout:fragment="content">

    <form method="get" class="d-flex mt-3" th:action="@{'/'}">
        <div class="form-floating me-3">
            <input type="number" class="form-control" id="year" name="year" placeholder="year" th:value="${param.year}">
            <label for="year">Year of manufacture</label>
        </div>
        <div class="form-floating me-3">
            <input type="text" class="form-control" id="name" name="name" placeholder="name" th:value="${param.name}">
            <label for="name">Name(Brand)</label>
        </div>
        <div class="form-floating me-3">
            <input type="number" class="form-control" id="price" name="price" placeholder="price"
                   th:value="${param.price}">
            <label for="price">Maximal price</label>
        </div>
        <div class="form-floating me-3">
            <select class="form-select" id="country_id" aria-label="country_id" name="country_id">
                <option th:value="null">Any</option>
                <option th:each="country : ${countries}" th:value="${country.id}"
                        th:text="${country.name + ' / ' + country.code}"
                        th:selected="${chosenCountryId != null && chosenCountryId.equals(country.id)}"></option>
            </select>
            <label for="country_id">Manufacturer</label>
        </div>
        <div class="form-floating me-3">
            <select class="form-select" id="category_id" aria-label="category_id" name="category_id">
                <option th:value="null">Any</option>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"
                        th:selected="${chosenCategoryId != null && chosenCategoryId.equals(category.id)}"></option>
            </select>
            <label for="category_id">Category</label>
        </div>
        <button type="submit" class="btn btn-success" style="height: 43.5pt;">Search</button>
    </form>

    <h2 class="mt-3"> All Cars</h2>

    <table class="table table-striped table-hover mt-3">
        <thead>
        <tr>
            <td>ID</td>
            <td>Name(Brand)</td>
            <td>Model</td>
            <td>Year of manufacture</td>
            <td>Price</td>
            <td>Country-manufacturer</td>
            <td>View</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car:${cars}">
            <td th:text="${car.id}"></td>
            <td th:text="${car.name}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.year}"></td>
            <td th:text="${car.price}"></td>
            <td>
                <span th:if="${car.country!=null}" th:text="${car.country.name + '/' + car.country.code}"></span>
                <i class="text-secondary" th:if="${car.country==null}">UNKNOWN</i>
            </td>
            <td><a class="btn btn-primary" th:href="@{'/car-view/'+${car.id}}">View</a></td>
        </tr>
        </tbody>
    </table>
</div>
</html>